form{
    display: flex;
    flex-direction: column;
    background-color: #29394a;
    padding:1.5em;
    border-radius: 1.5em;
    border: solid beige ;
    margin:10px;
    max-width: 20em;
}
select{
    min-width: 10em;
    max-width: 18em;
}